package main

templ landing() {
	<header>
		<h1>Progressive Slow Pages</h1>
		<p>Progressive enhancement of slow pages</p>
	</header>
	<nav>
		<ul>
			<li><a href="/baseline">Baseline</a></li>
			<li><a href="/chunked">Chunked</a></li>
			<li><a href="/chunked-templ">Chunked (using templ)</a></li>
			<li><a href="/slots">Slots</a></li>
			<li><a href="/progress-bar">Progress Bar</a></li>
		</ul>
	</nav>
}
