package main

templ page(body templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Progressive Slow Pages</title>
		</head>
		<body>
			@body
		</body>
	</html>
}
