package main

templ search(query string) {
	<h1>Search</h1>
	<section>
		@SearchBar(query)
		<ul>
			<li>a result</li>
			<li>another result</li>
			<li>and yet another result</li>
		</ul>
	</section>
}
